<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta name="author" content="{{ site.author }}">

<!-- Bootstrap core CSS -->
<link href="{{ '/vendor/bootstrap/css/bootstrap.min.css' | relative_url }}" rel="stylesheet">

<!-- Custom fonts for this template -->
<link href="https://fonts.googleapis.com/css?family=Saira+Extra+Condensed:500,700" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Muli:400,400i,800,800i" rel="stylesheet">
<link href="{{ '/vendor/fontawesome-free/css/all.min.css' | relative_url }}" rel="stylesheet">

<!-- Site styles, then blog-specific overrides -->
<link href="{{ '/css/resume.min.css' | relative_url }}" rel="stylesheet">
<link href="{{ '/css/blog.css' | relative_url }}" rel="stylesheet">

<link rel="apple-touch-icon" sizes="180x180" href="{{ '/img/favicon/apple-touch-icon.png' | relative_url }}">
<link rel="icon" type="image/png" sizes="32x32" href="{{ '/img/favicon/favicon-32x32.png' | relative_url }}">
<link rel="icon" type="image/png" sizes="16x16" href="{{ '/img/favicon/favicon-16x16.png' | relative_url }}">
<link rel="manifest" href="{{ '/img/favicon/site.webmanifest' | relative_url }}">
<meta name="msapplication-TileColor" content="#da532c">
<meta name="theme-color" content="#ffffff">

<!-- Generates <title>, canonical URL, Open Graph and Twitter card tags -->
{% seo %}
<!-- RSS autodiscovery -->
{% feed_meta %}
